{{!
< default}} <div class="container-fluid">
	<header class="masthead" style="height:100%;">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-7 my-auto">
					<div class="mx-auto header-content">
						<h1 class="mb-5" style="font-size:30px;">Géminis la constelación de la dualidad, para nosotros representa las ganas de aprender y el acceso al material. Pollux,
							es la estrella más brillante de la constelación &nbsp;y nuestro deseo es ser ese material de calidad que alimente
							tus ganas.</h1>
						<a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="#download">Ver tutoriales</a>
					</div>
				</div>
				<div class="col-lg-5 my-auto">

					<div class="device-mockup iphone6_plus portrait white">
						<div class="device">
							<div class="screen">
								<img class="img-fluid" src="/styles/assets/img/pollux_logo.png">
							</div>
							<div class="button"></div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</header>
	<section id="download" class="download text-center bg-primary">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2 class="section-heading">¿Deseas aprender?</h2>
					<p>Te brindamos tutoriales prácticos y sencillos de entender.</p>
					<div class="badges"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="features" class="features">
		<div class="container-fluid">
			<div class="section-heading text-center">
				<h2>Nuestros cursos</h2>
				<p class="text-muted">Estamos constantemente subiendo tutoriales, como los que puedes ver acá</p>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-4 my-auto">
					<div class="device-container">
						<div class="device-mockup iphone6_plus portrait white">
							<div class="device">
								<div class="screen">
									<img class="img-fluid" src="/styles/assets/img/pollux_logo.png">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 my-auto">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="fab fa-html5 text-primary"></i>
									<h3>HTML</h3>
									<p class="text-muted">Aprender a construir un sitio web nunca fue tan fácil</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="fab fa-css3-alt text-primary"></i>
									<h3>CSS</h3>
									<p class="text-muted">Para agregar un poco de sabor y color a nuestros sitios web</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="fab fa-js text-primary"></i>
									<h3>JavaScript</h3>
									<p class="text-muted">Digámosle a nuestro sitio qué hacer y transformémoslo en una aplicación</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="fab fa-node-js text-primary"></i>
									<h3>NodeJs</h3>
									<p class="text-muted">Hagamos que nuestra información dure para toda la vida</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cta" style="background-image:url('/styles/assets/img/study.jpg');">
		<div class="cta-content">
			<div class="container">
				<h2 style="font-size:45px;">El momento de iniciar.
					<br>¡Es ahora!</h2>
				<a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="#contact">Ir a tutoriales</a>
			</div>
		</div>
		<div class="overlay"></div>
	</section>
	<section id="contact" class="contact bg-primary">
		<div class="container">
			<h2>
				<span>Si</span>
				<span>&nbsp;te gustan nuestros tutoriales, seguínos y recomendános</span>
			</h2>
			<ul class="list-inline list-social">
				<li class="list-inline-item social-twitter">
					<a href="#">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="list-inline-item social-facebook">
					<a href="#">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li class="list-inline-item social-google-plus">
					<a href="#">
						<i class="fab fa-google-plus-g"></i>
					</a>
				</li>
			</ul>
		</div>
	</section>


	</div>